@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


.cont-findme h2{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.mart-app {height: 9rem;}
.logoMart {height: 80px;}