
/*=============== HEADER & NAV ===============*/

  .navbar__page {
    background: white;
    opacity: 0.9;
    font-size: 18px;
  }
  .nav__toggle, .nav__close {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .nav__list {
    display: flex;
    text-align: end;
  }
  
  .nav__link {
    position: relative;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
  }
  
  .nav__link::after {
    content: '';
    width: 0; height: 2px;
    background-color: whitesmoke;
    position: absolute;
    left: 0; bottom: -.5rem;
    transition: width .3s;
  }
  .nav__link:hover:after {width: 30%;}