#wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  height: 200px;
  width: 200px;
  box-shadow: 0 0 10px -2px silver;
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
  color: #315A9A;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  border: 3px solid rgba(0,0,0,0); /* Invisible Border */
  transition: all 0.2s;
  padding: 5px;
  position: relative;
  margin: 15px;
  box-sizing: content-box;
}

.box::before {
  content: '';
  position: absolute;
  display: inline-block;
  height: 200px;
  width: 200px;
  padding: 9px;
  border: 5px solid whitesmoke;
  border-radius: 5px;
  top: -7px;
  left: -7px;
  transition: ease-in-out 0.15s;
}

.box:hover::before {
  border: solid black; 5px;
  cursor: pointer;
}